*{
    box-sizing: border-box;
    scrollbar-width:thin;
}
#nav{
    background: #cbf3cd66;  
}
.navbar-collapse {
    flex-grow: 0;
}
.btnSearch{
    background: #0d9fd0;
    border: none;
}
.btnSearch:hover{
    background: #1784a9;
}
.heading{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:bold ;
}
.heading h5{
    font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}
.mainpage{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    /* background: #4caf4f9d; */
    background: linear-gradient(0deg,rgba(34, 192, 195, 0.399) 0%, rgba(76, 175, 79, 0.445) 100%);
    color: #091d02;
}
.mainpage main{
    margin: 10% 0 0 5%;
}
.imgs{
    background: #ebbcbc;
    width:60%;
    height: 94.1vh;
}
/*Type page */
.catmain{
    width: 98vw;
    height: 100vh;
    background: #22C1C3;
    background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(76, 175, 80, 1) 100%);
}
/* card */
.card{
    background: #fff;
    cursor: pointer;
}
.card:hover{
    box-shadow: 1em 1em 1em .5em rgba(0, 0, 0, 0.303);
}




/* icon */
.likebut{
    all: unset;
}
.likebut span{
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 5%;
}
.likebut span {
    fill: #0d9fd0;
}