:root {
    --head-color:rgb(3, 35, 19);
    --nav-bg:rgba(160, 235, 157, 0.717);
    --btn-bg:  #0d9fd0; 
    --btn-hv-bg:  #0b6d8d; 
    --btn-bg-hover:  #1784a9; 
    --btn-bg-selected: #0b4052;
    --bg-grad:linear-gradient(0deg,rgba(45, 207, 129, 0.516) 0%, rgba(40, 212, 34, 0.543) 100%);
}
#root{
    background: var(--bg-grad);
    max-height: 100%;
    min-height: 100vh;
}

nav{
    background: var(--nav-bg) !important;
    box-shadow: 0px .1em 10px 1px black;
}
.navbar-collapse {
    flex-grow: 0;
}
.btnSearch{
    background: var(--btn-bg);
    border: none;
}
.btnSearch:hover{
    background:var(--btn-bg-hover) ;
}

/*Type page */
.catmain{
    background: var(--bg-grad);
    padding-top: 2%;
}
.card{
    background: rgba(159, 168, 156, 0.436);
    border-radius: 1em;
    z-index: 1;
    min-height: 90%;
    margin-block: .5em !important;
}
.card-header{
    border-radius: 1em;
    text-align: center;
    font-weight: 700;
}
.card:hover{
    cursor: pointer !important;
    /* box-shadow: 2px 2px 2px 0 black; */
}
.card img{
    border-radius: 1em;
}
.card img:hover{
    filter: drop-shadow(4px 4px 10px black);
    transform: scale(1.01);
}



/* home  section*/
main{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:bold ;
}
#homeimg{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* .heading{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:bold ;
}
.heading h5{
    font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}

.mainpage main{
    margin: 10% 0 0 5%;
}
.imgs{
    width:60%;
    max-height: 100%;
    min-height: 100vh;
}
.imgs img{
    position: absolute;
    bottom: 0;
    right: 0;
} */

/* Dsiplay */
.itemcard img:hover{
    filter:none;
    transform: scale(1);
}
.itemcard img{
    box-shadow: 1em -1em black inset;
}
.itemcard .card-text{
    background: gray;
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 1em 1em;
    width: 100%;
    padding: .3em;
}
.pageno{
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 1%;
}
.pageno button{
    padding: .5em;
    border: none;
    border-radius: 1em;
}
.selected{
    background: var(--btn-bg-selected) !important;
    color: white;
}
button:disabled{
    color: gray;
}